@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --theme-header-height: 6rem;
  --theme-sidebar-width: 18rem;
  --theme-rightsidebar-width: 18rem;
  --accent: 124, 58, 237;
  --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
}

html {
  font-family: var(--system-ui);
}

html,
body {
  margin: 0;
}
