---
import { IoLogoGithub, IoLogoDiscord } from "react-icons/io5/index.js";
---

<div class="mt-10 flex gap-20 self-center font-medium">
  <a href="https://discord.gg/2v3NYMbWxy" class="no-underline hover:animate-pulse">
    <button
      class="flex items-center gap-2 rounded-md bg-sky-500 px-6 py-2 [background-image:var(--theme-discord-gradient)] text-white"
    >
      <IoLogoDiscord />
      Discord
    </button>
  </a>
  <a href="https://github.com/discordcf/discordcf/discussions" class="no-underline hover:animate-pulse">
    <button
      class="flex items-center gap-2 rounded-md bg-orange-300 px-6 py-2 [background-image:var(--theme-discussions-gradient)] text-white"
    >
      <IoLogoGithub />
      Github Discussions
    </button>
  </a>
  <a href="https://github.com/discordcf/discordcf/issues" class="no-underline hover:animate-pulse">
    <button
      class="flex items-center gap-2 rounded-md bg-slate-500 px-6 py-2 [background-image:var(--theme-issues-gradient)] text-white"
    >
      <IoLogoGithub />
      Github Issues
    </button>
  </a>
</div>
