---
import { IoLogoGithub, IoLogoDiscord } from "react-icons/io5";
---

<div class="mt-10 flex gap-20 self-center font-medium text-white">
  <a href="" class="hover:animate-pulse no-underline">
    <button
      class="flex items-center gap-2 rounded-md bg-sky-500 px-6 py-2 [background-image:var(--theme-discord-gradient)]"
    >
      <IoLogoDiscord />
      Discord
    </button>
  </a>
  <a href="" class="hover:animate-pulse no-underline">
    <button
      class="flex items-center gap-2 rounded-md bg-orange-300 px-6 py-2 [background-image:var(--theme-discussions-gradient)]"
    >
      <IoLogoGithub />
      Github Discussions
    </button>
  </a>
  <a href="" class="hover:animate-pulse no-underline">
    <button
      class="flex items-center gap-2 rounded-md bg-slate-500 px-6 py-2 [background-image:var(--theme-issues-gradient)]"
    >
      <IoLogoGithub />
      Github Issues
    </button>
  </a>
</div>
