---
import ThemeToggleButton from "./ThemeToggleButton";
---

<header
  class="flex fixed top-0 items-center h-[var(--theme-header-height)] justify-center dark:bg-[#404454] bg-[#eee7f4] p-4 m-0 w-full gap-3"
>
  <a href="/">
    <div class="flex items-center gap-2">
      <img src="/public/logo.png" alt="logo" width={32} />
      <h1 class="text-3xl">
        <span class="font-bakbak text-white">DISCORD.CF</span>
      </h1>
      <span class="py-1 px-2 mt-1 text-xs dark:bg-[#24242c] rounded-lg">BETA</span>
    </div>
  </a>
  <ThemeToggleButton client:load />
</header>
