---
const { headings } = Astro.props;
---

<aside class="fixed top-24 right-0 w-[var(--theme-sidebar-width)]">
  {
    headings && (
      <nav class="flex flex-col my-4 py-4 overflow-y-scroll text-sm">
        <h2 class="mb-2 pl-2 font-bold">On this page</h2>
        <ul class="border-l-2 border-l-red-400 text-slate-300">
          {headings.map((heading: { text: string; slug: string }) => (
            <li class="py-1 pl-2">
              <a href={`#${heading.slug}`}>{heading.text}</a>
            </li>
          ))}
        </ul>
      </nav>
    )
  }
</aside>
