---
export interface Props {
  currentPage: string;
}

const { currentPage } = Astro.props;

const currentSection = (path: string) => path.match(/(?<=\/[a-z]{2}\/)[^/]*/g)![0];

const activeTab = currentSection(currentPage);

const sections = [
  { name: "Learn", href: "/en/learn/getting-started/" },
  { name: "Reference", href: "/en/reference/createApplicationCommandHandler" },
];

const active = "border-b-[2px] dark:border-b-[var(--dark-accent)] border-b-[#4e4c4b] text-[#4e4c4b] dark:text-[var(--dark-accent)]";
---

<nav class="text-md mx-0 mb-2 flex w-auto justify-around">
  {
    sections.map((section) => (
      <a
        href={section.href}
        class={
          "flex w-full items-center justify-center py-2 px-6  " +
          (activeTab === section.name.toLowerCase() ? active : "border-b-[1px] border-b-[#4e4c4b]")
        }
      >
        {section.name}
      </a>
    ))
  }
</nav>
