---
export interface Props {
  currentPage: string;
}

const { currentPage } = Astro.props as Props;

const active = ["border-b-[2px]", "border-b-[#149ac9]", "text-[#149ac9]"];

const sections = [
  { name: "Home", href: "/" },
  { name: "Learn", href: "/learn/quick-start/" },
  { name: "Reference", href: "/reference/" },
];

const matchType = (path: string) =>
  (path.match(/(?<=\/.*\/).*(?=\/)/g) ?? [""])[0];

const activeTab = matchType(currentPage);

console.log(activeTab);
---

<aside
  class="flex flex-col fixed top-24 left-0 p-4 mb-6 mt-2 gap-4 w-[var(--theme-sidebar-width)] border-r-[0.25px] border-b-slate-400"
>
  <nav
    class="flex justify-center text-md mb-2 mx-0 w-auto border-b-[0.1px] border-b-gray-500"
  >
    {
      sections.map((section) => (
        <a
          href={section.href}
          class={
            activeTab ===
            (section.name === "Home" ? "" : section.name.toLowerCase())
              ? active.join(" ")
              : ""
          }
        >
          {section.name}
        </a>
      ))
    }
  </nav>
  <nav class="overflow-y-scroll">
    <ul>
      <li class="mb-2">
        <a href="/learn/installation">Installation</a>
      </li>
      <li>
        <details open>
          <summary>
            Quick Start
          </summary>
          <ul>
            <li>Hahaha</li>
          </ul>
        </details>
      </li>
    </ul>
  </nav>
</aside>

<style>
  nav > a {
    padding: 0.6rem 1rem;
  }
</style>
