---
import "@fontsource/bakbak-one";
import "../../public/styles/base.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/png" href="/logo.png" />
    <title>{title}</title>
    <script is:inline>
      const theme = localStorage.getItem("theme");
      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }
    </script>
  </head>
  <body class="bg-[#f2f1e8] text-black dark:bg-[#1d1d33] dark:text-[#ebecf0]">
    <slot />
  </body>
</html>
