---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import LeftSidebar from "../components/LeftSidebar.astro";
import RightSidebar from "../components/RightSidebar";

const url = Astro.url;
const currentPage = url.pathname;

const { headings, content } = Astro.props;
---

<Layout title="Welcome | discord.cf">
  <Header />
  <LeftSidebar currentPage={currentPage} />
  <main
    class="m-auto mt-[var(--theme-header-height)] flex justify-center p-6 [margin-inline-start:var(--theme-sidebar-width)] [margin-inline-end:var(--theme-rightsidebar-width)]"
  >
    <article class="prose dark:prose-invert">
      <h1 id="overview">{content.title}</h1>
      <slot />
    </article>
  </main>
  <RightSidebar {headings} client:load />
</Layout>
